<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.participantes.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCongresoServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.eventos.CrearCongresoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCongresosServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.eventos.ListarCongresosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarActividadServlet</servlet-name>
        <servlet-class>ListarActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearActividadServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.actividad.CrearActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCongresoServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.eventos.EditarCongresoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCongresoServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.eventos.EliminarCongresoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarActividadServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.actividad.EditarActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarActividadServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.actividad.EliminarActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarSalonesServlets</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.salones.ListarSalonesServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearSalonServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.salones.CrearSalonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarSalonServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.salones.EditarSalonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSalonServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.salones.EliminarSalonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostraCrearActividadServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.actividad.MostraCrearActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarAsistenciaServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.asistencias.RegistrarAsistenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAsistenciasServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.asistencias.ListarAsistenciasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarInscripcionServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.inscripcion.CancelarInscripcionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscribirTallerServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.inscripcion.InscribirTallerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecargarCarteraServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.participantes.RecargarCarteraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoCongresoServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.eventos.PagoCongresoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarteraPanel</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.participantes.CarteraPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPerfil</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.participantes.EditarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FotoUsuarioServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.participantes.FotoUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteGananciasServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.reporte.ReporteGananciasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteCongresosInstitucionServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.reporte.ReporteCongresosInstitucionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteParticipantesServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.reporte.ReporteParticipantesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteAsitenciaServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.reporte.ReporteAsitenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteReservasTallerServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.reporte.ReporteReservasTallerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteGananciasCongresoServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.reporte.ReporteGananciasCongresoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuarioServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.admin.ListarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.admin.EditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportarGananciasServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.reporte.Exportacion.ExportarGananciasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.admin.EliminarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarInstitucionesServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.admin.instituciones.ListarInstitucionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearInstitucionesServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.admin.instituciones.CrearInstitucionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarInstitucionServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.admin.instituciones.EditarInstitucionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarInstitucionServlet</servlet-name>
        <servlet-class>com.mycompany.backend.servlets.admin.instituciones.EliminarInstitucionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCongresoServlet</servlet-name>
        <url-pattern>/CrearCongresoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCongresosServlet</servlet-name>
        <url-pattern>/ListarCongresosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarActividadServlet</servlet-name>
        <url-pattern>/ListarActividadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearActividadServlet</servlet-name>
        <url-pattern>/CrearActividadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCongresoServlet</servlet-name>
        <url-pattern>/EditarCongresoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCongresoServlet</servlet-name>
        <url-pattern>/EliminarCongresoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarActividadServlet</servlet-name>
        <url-pattern>/EditarActividadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarActividadServlet</servlet-name>
        <url-pattern>/EliminarActividadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarSalonesServlets</servlet-name>
        <url-pattern>/ListarSalonesServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearSalonServlet</servlet-name>
        <url-pattern>/CrearSalonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarSalonServlet</servlet-name>
        <url-pattern>/EditarSalonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSalonServlet</servlet-name>
        <url-pattern>/EliminarSalonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostraCrearActividadServlet</servlet-name>
        <url-pattern>/MostraCrearActividadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarAsistenciaServlet</servlet-name>
        <url-pattern>/RegistrarAsistenciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAsistenciasServlet</servlet-name>
        <url-pattern>/ListarAsistenciasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarInscripcionServlet</servlet-name>
        <url-pattern>/CancelarInscripcionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscribirTallerServlet</servlet-name>
        <url-pattern>/InscribirTallerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecargarCarteraServlet</servlet-name>
        <url-pattern>/RecargarCarteraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoCongresoServlet</servlet-name>
        <url-pattern>/PagoCongresoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarteraPanel</servlet-name>
        <url-pattern>/CarteraPanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPerfil</servlet-name>
        <url-pattern>/EditarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FotoUsuarioServlet</servlet-name>
        <url-pattern>/FotoUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteGananciasServlet</servlet-name>
        <url-pattern>/ReporteGananciasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteCongresosInstitucionServlet</servlet-name>
        <url-pattern>/ReporteCongresosInstitucionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteParticipantesServlet</servlet-name>
        <url-pattern>/ReporteParticipantesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteAsitenciaServlet</servlet-name>
        <url-pattern>/ReporteAsitenciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteReservasTallerServlet</servlet-name>
        <url-pattern>/ReporteReservasTallerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteGananciasCongresoServlet</servlet-name>
        <url-pattern>/ReporteGananciasCongresoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuarioServlet</servlet-name>
        <url-pattern>/ListarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <url-pattern>/EditarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportarGananciasServlet</servlet-name>
        <url-pattern>/ExportarGananciasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuarioServlet</servlet-name>
        <url-pattern>/EliminarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarInstitucionesServlet</servlet-name>
        <url-pattern>/ListarInstitucionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearInstitucionesServlet</servlet-name>
        <url-pattern>/CrearInstitucionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarInstitucionServlet</servlet-name>
        <url-pattern>/EditarInstitucionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarInstitucionServlet</servlet-name>
        <url-pattern>/EliminarInstitucionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
